@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');


.logo {
    text-align: center;
}

.logo a {
    font-size: 48px;
    font-family: 'Staatliches';
    color: black;
    text-decoration: none;
    padding: 20px;
}

.menu {
    height: 70px;
    background-color: #DCDCDF;
}

.left-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 65px;
}

.left-menu li {
    text-align: center;
    float: left;
    width: 15%;
}

.left-menu li a {
    padding: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-decoration: none;
    font-size: 24px;
    font-family: 'Oswald';
    color: black;
}

.right-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 65px;
}

.right-menu li {
    text-align: center;
    float: right;
    width: 5%;
}

.right-menu li a {
    float: right;
    padding-left: 30px;
    padding-right: 30px;
    text-decoration: none;
    font-size: 24px;
    font-family: 'Oswald';
    color: black;
}

.profile-icon {
    margin-top: 8.75px;
    float: left;
    height: 48px;
    width: 48px;
}

.profile-icon svg {
    color: black;
}

.clear {
    clear: both;
    background-color: #DCDCDF;
}

.base-part {
    height: 1061px;
    background-image: url(/images/backgroundfon.jpg);
    background-size: cover;
    background-position: center;
}

.left-column {
    float: left;
    background-color: rgb(255, 255, 255);
    height: 1061px;
    width: 4%;
}

.centre-column {
    position: relative;
    height: 1061px;
    width: 92%;
    margin-left: 4%;
    margin-right: 4%;
}

.description {
    padding-top: 25%;
    padding-right: 25%;
    padding-left: 25%;
    text-align: center;
    font-size: 45px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.right-column {
    float: right;
    background-color: rgb(255, 255, 255);
    height: 1061px;
    width: 4%;
}

.footer {
    height: 180px;
    background-color: #DCDCDF;
}

.contacts {
    float: left;
    height: 150px;
    width: 50%;
    background-color: #DCDCDF;
}


.contacts p {
    text-align: left;
    float: right;
    height: 150px;
    width: 50%;
}

.developers {
    float: right;
    height: 150px;
    width: 50%;
    background-color: #DCDCDF;
}

.developers p {
    text-align: left;
    float: right;
    height: 150px;
    width: 50%;
}

/* Начало Страница Логин */
.login-panel {
    background-color: white;
    height: 800px;
    width: 100%;
}

.login-profile-icon {
    margin-top: 50px;
    height: 125px;
    width: 125px;
    color: rgb(0, 0, 0);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.login-title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    text-align: center;
}

.login-field {
    height: 40px;
    width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(203, 203, 203);
}

.login-field input {
    font-size: medium;
    text-align: center;
    border: none;
    height: 40px;
    width: 100%;
    background-color: rgb(203, 203, 203);
}

.password-field {
    height: 40px;
    width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(203, 203, 203);
}

.password-field input {
    text-align: center;
    border: none;
    height: 40px;
    width: 100%;
    background-color: rgb(203, 203, 203);
}

.password-title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    text-align: center;
}

.password-box {
    margin-top: 50px;
}

.action-box {
    text-align: center;
    margin-top: 40px;
}

.action-buttons {
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    line-height: 50px;
    height: 120px;
    width: 20%;
    font-size: 26px;
    color: rgb(220, 220, 223);
}

.action-buttons .login-button {
    padding: 5%;
    border: none;
    font-size: 26px;
    text-align: center;
    height: 100%;
    width: 100%;
    border-radius: 0.5ch;
    box-shadow: 0px 10px 18px 0px #474747;
}

.login-button:hover {
    background-color: rgb(203, 203, 203);
    transition: 0.7s;
}

.register-button:hover {
    background-color: rgb(203, 203, 203);
    transition: 0.7s;
}

.login-button:active {
    border: 1ch;
    border-color: #000000;
    transition: 0.7s;
}

.register-button:active {
    border: 1ch;
    border-color: #000000;
    transition: 0.7s;
}

.action-buttons .login-button .login-button-text {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    color: #000000;
    font-size: 24px;
    text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.4);
    font-weight: bold;
}

.action-buttons .register-button {
    padding: 5%;
    margin-top: 25px;
    border: none;
    text-align: center;
    height: 100%;
    width: 100%;
    border-radius: 0.5ch;
    box-shadow: 0px 10px 18px 0px #474747;
    text-shadow: 0px 10px 18px 0px #474747;
}

.action-buttons .register-button .register-button-text {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    color: #000000;
    font-size: 24px;
    text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.4);
    font-weight: bold;
}

/* Конец Страница Логин */

/* Начало Страница Регистрация */

.base-part-registration {
    height: 1061px;
    background-color: rgb(255, 255, 255);
    background-size: cover;
    background-position: center;
}

.centre-column-registration {
    background-color: rgb(255, 255, 255);
    position: relative;
    height: 1061px;
    width: 92%;
    margin-left: 4%;
    margin-right: 4%;
}

.create-label {
    margin-bottom: 60px;
    padding-top: 40px;
    display: flex;
    text-align: center;
    justify-content: center;
    line-height: 1.2;
    color: #000000;
    font-size: 35px;
    text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.4);
    font-weight: bold;
}


.fullname-box {
    padding-right: 20%;
    margin: auto;
    text-align: center;
    height: 80px;
    width: 80%;
    margin-bottom: 2%;
}

.fullname-box-label {
    float: left;
    line-height: 80px;
    font-size: large;
    height: 80px;
    width: 20%;
    text-align: right;
}

.fullname-box-field {
    float: right;
    height: 80px;
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(203, 203, 203);
}

.fullname-box-field input {
    font-size: medium;
    text-align: center;
    border: none;
    height: 80px;
    width: 100%;
    background-color: rgb(203, 203, 203);
}

.account-box {
    padding-right: 20%;
    margin: auto;
    text-align: center;
    height: 80px;
    width: 80%;
    margin-bottom: 2%;
}

.account-box-label {
    float: left;
    line-height: 80px;
    font-size: large;
    height: 80px;
    width: 20%;
    text-align: right;
}

.account-box-field {
    float: right;
    height: 80px;
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(203, 203, 203);
}

.account-box-field input {
    font-size: medium;
    text-align: center;
    border: none;
    height: 80px;
    width: 100%;
    background-color: rgb(203, 203, 203);
}

.firstpassword-box {
    padding-right: 20%;
    margin: auto;
    text-align: center;
    height: 80px;
    width: 80%;
    margin-bottom: 2%;
}

.firstpassword-box-label {
    float: left;
    line-height: 80px;
    font-size: large;
    height: 80px;
    width: 20%;
    text-align: right;
}

.firstpassword-box-field {
    float: right;
    height: 80px;
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(203, 203, 203);
}

.firstpassword-box-field input {
    font-size: medium;
    text-align: center;
    border: none;
    height: 80px;
    width: 100%;
    background-color: rgb(203, 203, 203);
}

.lastpassword-box {
    padding-right: 20%;
    margin: auto;
    text-align: center;
    height: 80px;
    width: 80%;
    margin-bottom: 2%;
}

.lastpassword-box-label {
    float: left;
    line-height: 80px;
    font-size: large;
    height: 80px;
    width: 20%;
    text-align: right;
}

.lastpassword-box-field {
    float: right;
    height: 80px;
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(203, 203, 203);
}

.lastpassword-box-field input {
    font-size: medium;
    text-align: center;
    border: none;
    height: 80px;
    width: 100%;
    background-color: rgb(203, 203, 203);
}

.registration-box-action-box {
    margin: auto;
    margin-top: 80px;
    border: none;
    text-align: center;
    height: 50px;
    width: 25%;
}

.registration-box-action-box .create-new-user-button .create-new-user-button-text {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    color: #000000;
    font-size: 24px;
    text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.4);
    font-weight: bold;
}

.registration-box-action-box .create-new-user-button {
    border: none;
    text-align: center;
    height: 100%;
    width: 100%;
    border-radius: 0.5ch;
    box-shadow: 0px 10px 18px 0px #474747;
    text-shadow: 0px 10px 18px 0px #474747;
}

.create-new-user-button:hover {
    background-color: rgb(203, 203, 203);
    transition: 0.7s;
}

.create-new-user-button:active {
    border: 1ch;
    border-color: #000000;
}

/* Конец Страница Регистрация */

/* Начало Страница Спортивного инвентаря */
.base-part-sportEquipment-page {
    height: 1061px;
    background-color: rgb(255, 255, 255);
    background-size: cover;
    background-position: center;
}

.left-column-filters {
    float: left;
    background-color: rgb(255, 255, 255);
    height: 1061px;
    width: 25%;
}

.filter-panel {
    height: 80%;
    box-shadow: 2px 5px 5px -3px #848484;
}

.filters-label {
    margin-top: 40px;
    text-decoration-skip-ink: none;
    font-size: 36px;
    text-align: center;
    font-weight: normal;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: rgb(28, 98, 205);
    margin-bottom: 100px;
}

.type-equipment-box {
    height: 100px;
    text-align: center;
    font-style: inherit;
}

.type-equipment-box {
    height: 120px;
}

.label-type-equipment-box {
    text-align: center;
    font-size: 26px;
}

.field-type-equipment-box {
    margin-right: 15px;
    height: 60px;
    text-align: center;
    font-size: 24px;
    background-color: rgb(255, 255, 255);
}

.field-type-equipment-box input {

    font-size: medium;
    text-align: center;
    height: 60px;
    width: 100%;
    background-color: rgb(221, 221, 221);
    border: none;
}

.start-data-box {
    margin-top: 50px;
    height: 120px;
}

.label-start-data-box {
    text-align: center;
    font-size: 26px;
}

.field-start-data-box {
    margin-right: 15px;
    height: 60px;
    text-align: center;
    font-size: 24px;
    background-color: rgb(255, 255, 255);
}

.field-start-data-box input {

    font-size: medium;
    text-align: center;
    height: 60px;
    width: 100%;
    background-color: rgb(221, 221, 221);
    border: none;
}

.end-data-box {
    height: 120px;
}

.label-end-data-box {
    text-align: center;
    font-size: 26px;
}

.field-end-data-box {
    margin-right: 15px;
    height: 60px;
    text-align: center;
    font-size: 24px;
    background-color: rgb(255, 255, 255);
}

.field-end-data-box input {

    font-size: medium;
    text-align: center;
    height: 60px;
    width: 100%;
    background-color: rgb(221, 221, 221);
    border: none;
}

.button-find {
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 80px;
    height: 80px;
    background-color: rgb(28, 98, 205);
}

.button-find .find-button {
    padding: 5%;
    border: none;
    font-size: 26px;
    text-align: center;
    height: 100%;
    width: 100%;
    border-radius: 0.5ch;
    background-color: rgb(28, 98, 205);
}

.button-find :hover {
    background-color: rgb(16, 54, 111);
    transition: 0.7s;
}

.button-find .find-button-text {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: lighter;
}

.centre-column-content {
    margin-left: 25px;
    float: left;
    background-color: rgb(255, 255, 255);
    height: 1061px;
    width: 72%;
}

.event {
    display: block;
    position: relative;
    margin-top: 15px;
    margin-bottom: 40px;
    width: 100%;
    height: 25%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 6px 0px #2D2D2D;
}

.event-img {
    position: absolute;
    display: block;
    margin-left: 20px;
    height: 100%;
    width: 25%;
    background-image: url(/images/testimg.jpg);
    background-size: cover;
    background-position: center;
}

.event-info {
    position: relative;
    left: 27%;
    display: block;
    margin: 15px;
    width: 69%;
    height: 100%;
}

.event-name {
    font-weight: bolder;
    font-size: 30px;
    word-break: break-all;
    text-align: center;
    height: 20%;
    width: 100%;
}

.event-description {
    font-size: 20px;
    word-break: break-all;
    text-align: center;
    height: 20%;
    width: 100%;
}

.event-equipment {
    font-size: 20px;
    text-align: center;
    word-break: break-all;
    height: 20%;
    width: 100%;
}

.event-date {
    font-size: 20px;
    word-break: break-all;
    text-align: center;
    height: 20%;
    width: 100%;
}

.event-price {
    color: rgb(28, 98, 205);
    font-size: 26px;
    word-break: break-all;
    text-align: center;
    height: 20%;
    width: 100%;
}

.pagination-bar {
    position: relative;
    left: 50%;
    right: 50%;
    width: 100%;
}

ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {
    display: inline;
}

ul.pagination li a {
    color: rgb(0, 0, 0);
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 25px;
    transition: 0.4s;
}

a.active-page{
    background-color: rgb(28, 98, 205);
    
}

a:hover:not(a.active-page){
    background-color: rgb(203, 203, 203);
}


/* Конец Страница Спортивного инвентаря */



/* Для отображения пароля
/*  */
/* .password {
	position: relative;
}
.password-control {
	position: absolute;
	top: 11px;
	right: 6px;
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(/view.svg) 0 0 no-repeat;
}
.password-control.view {
	background: url(/no-view.svg) 0 0 no-repeat;
} */